.section-page-container {
  position: relative;
}

.container-page-grid {
  display: grid;
  gap: 20px;
  padding: 0 40px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.section-page-title {
  padding: 70px 40px 20px;
  text-align: left; /* Centra el texto del título */
  font-size: 1.5rem; /* Aumenta el tamaño del texto */
  font-weight: bold; /* Hace el texto más visible */
}

.play-button-icon{
  height: 100%;
}
