* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  background-color: #212121;
  margin: 0 40px;
}

a {
  text-decoration: none;
}